---
layout: default
---
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>
{% endif %}

<header>
  <h1>{{ site.title }}</h1>
</header>

<div>
  My name's Wyatt Lucas and I have been working as a software engineer since 2022. I graduated from Rutgers University in August 2020 with a BA in Information Technology and Minor in Creative Writing.
</div>
<div>
  My hobbies include dancing, gloving, bodybuilding, electronic music, and reading.
</div>

{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}