---
layout: default
---
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>
{% endif %}

<header>
  <h1>{{ site.title }}</h1>
</header>

<div>
    My name's Wyatt Lucas and I'm a software engineer. I graduated from Rutgers University in August 2020 with a BA in Information Technology and Minor in Creative Writing.
</div>
<div>
    In my free time, I like <a href="https://www.youtube.com/playlist?list=PL68uieaN5RaMndJTyv07qbZ7oeJWZBjGV">lifting weights</a>, cardio, <a href="https://www.goodreads.com/user/show/12561046-wyatt">reading books</a>, <a href="https://rateyourmusic.com/~yutsi">listening to music</a>, and watching <a href="https://trakt.tv/users/yutsi">TV</a>/<a href="https://anilist.co/user/yutsi/animelist">anime</a>. I've been vegan since January 2018.
</div>