---
layout: default
---
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>
{% endif %}

<header>
  <h1>{{ site.title }}</h1>
</header>

<ul>
    <li><b>Languages</b>: JavaScript/TypeScript, Python</li>
    <li><b>Front-end</b>: Vue, Pinia, Nuxt, React, Redux, HTML5, CSS3, ARIA, Tailwind CSS, Bootstrap </li>
    <li><b>Back-end/tools</b>: Flask, Node.js, Express.js, Git, Jest</li>
    <li><b>Databases</b>: PostgreSQL, SQL Server, SQLAlchemy, MongoDB, GraphQL</li>
  </ul>
<span>I develop web applications using SPA and SSR frameworks. These UIs are responsive, accessible, and SEO-friendly. I have integrated UIs with REST and GraphQL APIs.</span>
