---
layout: default
---
<a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>

<header>
  <h1>{{ site.title }}</h1>
</header>

<ul>
    <li><b>Languages</b>: JavaScript/TypeScript, Python</li>
    <li><b>Front-end</b>: Vue, React, HTML5, CSS3, Tailwind CSS, Bootstrap, Sass </li>
    <li><b>Back-end</b>: Flask, Node.js, Express, Git, Jest</li>
    <li><b>Databases</b>: PostgreSQL, SQL Server, MongoDB, GraphQL</li>
  </ul>
<span>I develop web applications using React and Node.js with TypeScript. I have integrated front-end interfaces with REST APIs using SQL Server and MongoDB databases, as well as GraphQL APIs. For React apps, I have developed responsive mobile-friendly UIs using CSS and Bootstrap with a focus on accessibility. I also write component tests using Jest and React Testing Library to ensure a seamless user experience.</span>
